
.column{
    float:left;
    width: 22.5%;
    margin: 20px 1.15%;
    Height:80px;
    text-align: center;
    box-sizing: content-box;
    background-color: palegreen
}

.menu{
    height: 200px;
    width:683%;
    float: unset;
    background-color: rgb(43, 55, 226);
    margin: 0 auto;
    text-align: center;
 border: navy solid 4px;
 overflow:  hidden;
 
 
}
.sidebar{
    height:300px;
    width: 500% ;
    background-color: goldenrod;
    border: palevioletred solid 5px
}
.content{
    height: 500px; 
    width: 100%;
    background-color: turquoise;
   border: 2px solid cadetblue;
    
}
.footer{
    height: 200px;
    background-color:greenyellow;
    margin-left: 20% auto;
    border: 5px red solid;
    overflow: hidden;
}
.menu{
    overflow: hidden;
    background-color: darkorange;
}
.links{
    border: 1px springgreen solid;
    display: flex;
    justify-content:flex-end;
}
.login{
    margin-left: 20px;
    color: khaki
}
.signup{
    margin-right: 20px;
    color: ivory
}
.header-container{
    color: firebrick;
    background-color: dodgerblue;
    display: flex;
    justify-content: flex-start
}