ul{
    
    background-color:#2091c5;
    font-size:30px;
    margin: 20x;
   text-align: right;
   padding-top: 20px;
   padding-bottom: 20px;
   

}
li{
    margin-left: 30px;
    margin-right: 30px;
    display: inline
}
h1{
font-size: 28px
}
 button{
     background-color: #2091c5;
     margin: 40px;
 }
 .teal {
     background-color: #0088a3;
     margin-block-end: 40px;
     width: 30%
}
ol{
   display: block;
   margin: 20px;
   padding-bottom: 120px
}
p{
    text-align: center;
    margin: 20px;
    padding-bottom:90px;
}

